    body{font-family: 'Hammersmith One', sans-serif;
        margin: 0;}
    h1{font-size:50px;}
    .orange-color{color:gold;}
    .flex-container{display: flex;
            margin-bottom:150px;}
    .half-width{width: 50%;
                padding-left:5%;}
    .half-width img{width:90%;}
    .button{background-image: linear-gradient(rgb(253, 176, 10),orangered);
            text-decoration:none;
            border-radius: 5px;
            padding:10px 20px;
            color:white;}
    .top-banner{background-image: url(images/top-banner.png);
                background-repeat: no-repeat;}
    .dream-big{background-image: url(images/dream-bg.png);
            background-repeat: no-repeat;
            background-position: right;}
    .experience-item{width: 40%;
                     margin-left: 5%;
                     margin-right: 5%;
                     padding: 20px;
                     box-shadow: 10px 10px 40px gray;}
    .experience-area{background-image: url(images/exp-bg.png);
                     background-repeat: no-repeat;
                    background-position: left;}